<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182460033057-7aqvmink38gv4hag7bkcq28eiuaftbj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182460033057-7aqvmink38gv4hag7bkcq28eiuaftbj7</string>
	<key>API_KEY</key>
	<string>AIzaSyDIGewDWvtzTEywc6HN5Nv1dnI2FOp8FrY</string>
	<key>GCM_SENDER_ID</key>
	<string>182460033057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navaneethan.g.FirebaseLetsBuildTheApp</string>
	<key>PROJECT_ID</key>
	<string>fir-letsbuildtheapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-letsbuildtheapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182460033057:ios:328536ccd7da96823e1b60</string>
</dict>
</plist>